<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionZoo.Properties.Settings.MiPrimeraBaseDeDatosConnectionString"
            connectionString="Data Source=PC-DAM2-02-04;Initial Catalog=MiPrimeraBaseDeDatos;Persist Security Info=True;User ID=sa;Password=Usuario123.;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>